@model Product
<h1>Add a Product Page</h1>
<br />

<form method="post">

    <input type="hidden" asp-for="ProductId" />

    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input asp-for="Name" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="Year" class="control-label">Year:</label>
        <input asp-for="Year" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label">Price:</label>
        <input asp-for="Price" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="NumParts" class="control-label">Number of Parts</label>
        <input asp-for="NumParts" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="ImgLink" class="control-label">Image Link:</label>
        <input asp-for="ImgLink" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="PrimaryColor" class="control-label">Primary Color:</label>
        <input asp-for="PrimaryColor" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="SecondaryColor" class="control-label">Secondary Color:</label>
        <input asp-for="SecondaryColor" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input asp-for="Description" class="form-control" required>
    </div>

    <div class="form-group">
        <label asp-for="Category1" class="control-label">Category 1:</label>
        <input asp-for="Category1" class="form-control" required>
    </div>

     <div class="form-group">
        <label asp-for="Category2" class="control-label">Category 2:</label>
        <input asp-for="Category2" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Category3" class="control-label">Category 3:</label>
        <input asp-for="Category3" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
