@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <h1>Admin Portal</h1>
    <div class="mt-4 d-flex flex-wrap">
        <a class="btn btn-outline-secondary btn-lg mb-3 mr-3" href="@Url.Page("/Roles/List")">Manage Roles</a>
        <a class="btn btn-outline-secondary btn-lg mb-3" href="@Url.Page("/Users/List")">Manage Users</a>
        <a class="btn btn-outline-secondary btn-lg mb-3 mr-3" asp-controller="Admin" asp-action="AdminOrdersView">View Recent Orders</a>
        <a class="btn btn-outline-secondary btn-lg mb-3" asp-controller="Admin" asp-action="AdminProducts">Manage Products</a>
    </div>
</div>

