<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy"
          content="base-uri 'self';
        default-src 'self';
        img-src data: https://m.media-amazon.com/images/I/51bwtCxXF2L._AC_SX425_.jpg
               https://m.media-amazon.com/images/I/71AUw95nXkL._AC_SL1500_.jpg
               https://m.media-amazon.com/images/I/81YSK5uUQoL._AC_SL1500_.jpg
               https://m.media-amazon.com/images/I/91Rk1i6hZrL._AC_SL1500_.jpg
               https://www.lego.com/cdn/cs/set/assets/blt9ca0055e7e1afab8/60403_alt1.png
               https://images.brickset.com/sets/large/8674-1.jpg
               https://images.brickset.com/sets/images/611-2.jpg
               https://images.brickset.com/sets/images/7884-1.jpg
               https://www.lego.com/cdn/cs/set/assets/blt136fb371e68cccbd/60253.jpg
               https://www.lego.com/cdn/cs/set/assets/blt46a07a9b068b46c2/40174.jpg
               https://www.lego.com/cdn/cs/set/assets/bltd5d0924daab53e4a/60411_alt1.png
               https://images.brickset.com/sets/large/71017-7.jpg
               https://www.brickeconomy.com/resources/images/sets/lego-4465-1_large.jpg
               https://images.brickset.com/sets/images/6144-1.jpg
               https://images.brickset.com/sets/large/1259-1.jpg
               https://images.brickset.com/sets/large/10590-1.jpg
               https://images.brickset.com/sets/images/6461-1.jpg
               https://images.brickset.com/sets/images/9912-1.jpg
               https://images.brickset.com/sets/large/108-1.jpg
               https://images.brickset.com/sets/large/100-1.jpg
               https://images.brickset.com/sets/images/5070-1.jpg
               https://images.brickset.com/sets/large/745-1.jpg
               https://www.lego.com/cdn/product-assets/element.img.lod5photo.192x192/300326.jpg
               https://www.lego.com/cdn/cs/set/assets/blt2a6bae345f3aa198/40674.png
               https://www.lego.com/cdn/cs/set/assets/blt44c922efc70452ac/76424.png
               https://www.lego.com/cdn/cs/set/assets/blt4daf92ecc0e1f935/40460.jpg
               https://www.lego.com/cdn/cs/set/assets/bltfa6c9196a514bb03/31157.png
               https://www.lego.com/cdn/cs/set/assets/blt3de19d1ec415c640/75361.png
               https://www.lego.com/cdn/cs/set/assets/blta12c30dbf0128a83/42168.png
               https://www.lego.com/cdn/cs/set/assets/blt2afcd0d2c787e72f/31148.png
               https://www.lego.com/cdn/cs/set/assets/blt2ca5e68542c05dd8/43202_.png
               https://www.lego.com/cdn/cs/set/assets/bltfd3e8e59d950ac57/21044.jpg
               https://www.lego.com/cdn/cs/set/assets/blt2ab62c2c368f72f6/31152.png
               https://www.lego.com/cdn/cs/set/assets/bltde655e8359417b7d/43217.png
               https://www.lego.com/cdn/cs/set/assets/bltdd02a77fc7599129/60364.png
               https://www.lego.com/cdn/cs/set/assets/blt505d24ad41366851/21327.jpg
               https://www.lego.com/cdn/cs/set/assets/blt47c94c595257dd3a/76429.png;
        object-src 'none';
        script-src 'self';
        style-src 'self' 'unsafe-inline';
        upgrade-insecure-requests;">
    <title>@ViewData["Title"] - BuildWell</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SecurityLab.styles.css" asp-append-version="true" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/lego.ico" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BrickWell</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LegoList">Shop Now</a>
                        </li>    
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminIndex">Admin Portal</a>
                        </li>
                        
                   

                        <li class="nav-item float-end">                         
                                <vc:cart-summary />                          
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <partial name="_CookieConsentPartial" />
            &copy; 2024 - BrickWell Inc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
