<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy"
          content="
        base-uri 'self';
        default-src 'self';
        img-src 'self' data: https://m.media-amazon.com https://www.lego.com https://images.brickset.com https://www.brickeconomy.com https://www.yourwebsite.com/lib/photos;
        object-src 'none';
        script-src 'self' https://www.chatbase.co 'unsafe-inline';
        style-src 'self' 'unsafe-inline';
        upgrade-insecure-requests;
        frame-src 'self' https://www.chatbase.co;
        ">

    <title>@ViewData["Title"] - BuildWell</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SecurityLab.styles.css" asp-append-version="true" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/lego.ico" />

    <style>
        footer.footer {
            background-color: #4527A0; /* Dark purpleish blue */
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        .text-muted {
            /* --bs-text-opacity: 1; */
            color: #fff !important;
        }
    </style>
</head>
<body>
    <header>
        <style>
            /* CSS for underline animation on hover */
            .nav-link {
                position: relative;
                text-decoration: none;
                color: #000; /* Adjust the text color as needed */
            }

                .nav-link::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px; /* Adjust the thickness of the underline */
                    background-color: #000; /* Adjust the underline color */
                    transition: width 0.3s ease; /* Animation transition */
                }

                .nav-link:hover::after {
                    width: 100%;
                }
        </style>
        <nav class="navbar navbar-expand-lg navbar-light" style="height: 115px; background-color: #FFD502;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight:bold">BuildWell</a>
                <img src="~/lib/photos/lego_logo.svg.png" style="width: 50px; height: auto; margin-left: 2px; margin-right: 3px;" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="font-size:large">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item" style="font-size:large">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item" style="font-size:large">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LegoList">Shop Now</a>
                        </li>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item" style="font-size:large">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AdminIndex">Admin Portal</a>
                            </li>
                        }
                    </ul>
                    <div class="col-6 navbar-text text-end">
                        <vc:cart-summary />
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    </div>


    <br />
  


    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 2024 - BrickWell Inc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script> /* added chatbot to test it out */
        window.embeddedChatbotConfig = {
            chatbotId: "p13zwKv0I3CKkRH_5v66h",
            domain: "www.chatbase.co"
        }
    </script>
    <script src="https://www.chatbase.co/embed.min.js"
            chatbotId="p13zwKv0I3CKkRH_5v66h"
            domain="www.chatbase.co"
            defer>
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>