@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">About Aurora Brickwell and BuildWell</h1>
            <hr>
            <p>Aurora Brickwell, the proud owner of BuildWell, is not just another Lego enthusiast - she's a renowned master builder and collector. With her unparalleled expertise and passion for Legos, Aurora has decided to bring her love for these iconic building blocks to the world by launching an online Lego store like no other.</p>
            <p>At BuildWell, Aurora curates the best Lego sets available, handpicking each set with meticulous attention to detail. As a licensed partner of The Lego Group, BuildWell offers a wide range of authentic Lego products, from classic sets to exclusive editions, catering to Lego fans of all ages and interests.</p>
            <p>With BuildWell, Aurora aims to create a haven for Lego enthusiasts, providing them with a platform to explore, discover, and indulge in the fascinating world of Legos. Whether you're a seasoned collector or a budding builder, BrickWell invites you to join Aurora on this exciting journey of creativity and imagination.</p>
        </div>
    </div>
    <img src="~/lib/photos/legolady.gif" />
