@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Custom CSS for hover effect */
    .card:hover {
        /* Darken the background color slightly on hover */
        background-color: rgba(0, 0, 0, 0.1); /* Adjust the alpha (4th value) for opacity */
        transition: background-color 0.3s ease; /* Smooth transition effect */
    }
</style>

@model List<Product>
<br />
<br />
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-9 text-center">
            <img src="~/lib/photos/man_with_legos.png" class="img-fluid" alt="Man with Legos" />
        </div>
    </div>
    <br />
    <br />
    <div class="row mt-5">
        <div class="col">
            <h2 class="text-center">Top Recommendations</h2>
        </div>
    </div>
    <br />
    <br />

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3">
            @foreach (var product in Model)
            {
                <div class="col mb-4">
                    <div class="card text-center">
                        <div class="d-flex justify-content-center">
                            <!-- Centering the image horizontally -->
                            <img class="card-img-top p-2" style="height: 200px; width: auto;" src="@product.ImgLink" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">@product.Name</h4>
                            <form asp-controller="Home" asp-action="LegoSingle" method="get">
                                <input type="hidden" name="productId" value="@product.ProductId" />
                                <button type="submit" class="btn btn-success btn-sm">View Details</button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



   
</div>
