@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-9 text-center">
            <img src="~/lib/photos/man_with_legos.png" class="img-fluid" alt="Man with Legos" />
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <h2 class="text-center">Top Recommendations</h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="card-deck">
                <div class="card">
                    <img src="~/lib/photos/lego_logo.svg.png" class="card-img-top img-fluid" alt="Image 1" style="max-width: 400px; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Title 1</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="~/lib/photos/lego_logo.svg.png" class="card-img-top img-fluid" alt="Image 2" style="max-width: 400px; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Title 2</h5>
                    </div>
                </div>
                <div class="card">
                    <img src="~/lib/photos/lego_logo.svg.png" class="card-img-top img-fluid" alt="Image 3" style="max-width: 400px; height: auto;">
                    <div class="card-body">
                        <h5 class="card-title">Title 3</h5>
                    </div>
                </div>
                <!-- Add more cards as needed -->
            </div>
        </div>
    </div>
</div>
