
@model ProductsListViewModel
<head>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<h1>Legos, get'em while they're hot</h1>


<br />
<div class="spacing">
<form method="get">
    <label asp-for="PaginationInfo.itemsPerPage" for="itemsPerPage">Items per page:</label>
    <select asp-for="PaginationInfo.itemsPerPage" id="itemsPerPage" onchange="this.form.submit()">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
</form>
</div>
<div class="admin-form-container">
<form method="GET" action="/Home/LegoList">
    <label for="legoTypeSelect">Choose Lego Type:</label>
    <select id="legoTypeSelect" name="legoType">
        <option value="">All</option>
        <option value="Star Wars">Star Wars</option>
        <option value="DC">DC</option>
        <option value="Harry Potter">Harry Potter</option>
        <option value="Personal">Personal</option>
        <option value="Car">Car</option>
        <option value="Flight">Flight</option>
        <option value="Vehicle">Vehicle</option>
        <option value="Game">Game</option>
        <option value="Minifig">Minifig</option>
        <option value="Promotional">Promotional</option>
        <option value="Part">Part</option>
        <option value="Energy">Energy</option>
        <option value="Character">Character</option>
        <option value="Floral">Floral</option>
        <option value="Colorful">Colorful</option>
        <option value="Animal">Animal</option>
        <option value="Structure">Structure</option>
    </select>
    <br><br>
    <label for="legoColorSelect">Choose Lego Color:</label>
    <select id="legoColorSelect" name="legoColor">
        <option value="">All</option>
        <option value="Black">Black</option>
        <option value="Blue">Blue</option>
        <option value="Brown">Brown</option>
        <option value="Green">Green</option>
        <option value="Grey">Grey</option>
        <option value="Orange">Orange</option>
        <option value="Red">Red</option>
        <option value="Tan">Tan</option>
        <option value="White">White</option>
        <option value="Yellow">Yellow</option>
    </select>
    <br><br>
    <input class="btn btn-primary" type="submit" value="Apply Filter">
</form>
</div>

    <div class="container col-9">
    <div class="container col-7">
        <main role="main" class="pb-3">
            @foreach (Product b in Model.Products)
            {
                <partial name="ProjectSummary" model="b" />


            }
            <div page-model="@Model.PaginationInfo" page-action="LegoList" page-class-enabled="true" page-class="btn"
                 page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-legoType="@Model.CurrentProductType" page-url-legoColor="@Model.CurrentColor" class="btn-group pull-right m-1"></div>

        </main>
    </div>
</div>



