
@model ProductsListViewModel
<br />
<h1>Aurora Brickwell's choice legos</h1>

<br />
<br />

<form method="get">
    <label asp-for="PaginationInfo.itemsPerPage" for="itemsPerPage">Items per page:</label>
    <select asp-for="PaginationInfo.itemsPerPage" id="itemsPerPage" onchange="this.form.submit()">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="20">20</option>
    </select>
</form>
<div class="row m-1 p-1">
    <div class="col-3">
        <h4>Filter by Category</h4>
        <vc:project-types />
    </div>
    <div class="col-3">
        <h4>Filter by Color</h4>
        <vc:color-filter />
    </div>
    <div class="container col-9">
    <div class="container col-7">
        <main role="main" class="pb-3">
            @foreach (Product b in Model.Products)
            {
                <partial name="ProjectSummary" model="b" />


            }
            <div page-model="@Model.PaginationInfo" page-action="LegoList" page-class-enabled="true" page-class="btn"
                 page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-legoType="@Model.CurrentProductType" page-url-legoColor="@Model.CurrentColor" class="btn-group pull-right m-1"></div>

        </main>
    </div>
</div>


